#control-display{
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 10px;
}

.stick-display {
  border: 1px solid black;
}

#left-y-expo-container {
  position: relative;
  width: 200px;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid black;
}
